// =================================
// Author: Plamen Stoev
// Date: 25/03/2014
// =================================

// Mixins:
// ==================
//

@mixin ps-background-linear($startColor, $endColor, $startPos: 0%, $endPos: 100%) {
  background-image: -webkit-linear-gradient(bottom, $startColor $startPos, $endColor $endPos);
  background-image:    -moz-linear-gradient(bottom, $startColor $startPos, $endColor $endPos);
  background-image:     -ms-linear-gradient(bottom, $startColor $startPos, $endColor $endPos);
  background-image:      -o-linear-gradient(bottom, $startColor $startPos, $endColor $endPos);
  background-image:         linear-gradient(bottom, $startColor $startPos, $endColor $endPos);
}

@mixin ps-box-shadow($val) {
  -webkit-box-shadow: $val;
     -moz-box-shadow: $val;
          box-shadow: $val;
}

@mixin ps-border-radius($rad) {
  -webkit-border-radius: $rad;
     -moz-border-radius: $rad;
      -ms-border-radius: $rad;
          border-radius: $rad;
}

@mixin ps-transform-translate($Xval, $Yval) {
  -webkit-transform: translate($Xval, $Yval); /* Safari and Chrome */
     -moz-transform: translate($Xval, $Yval); /* Firefox */
      -ms-transform: translate($Xval, $Yval); /* IE 9 */
          transform: translate($Xval, $Yval);
}

@mixin ps-transform-skew($Xdeg, $Ydeg) {
  -webkit-transform: skew($Xdeg, $Ydeg); /* Safari and Chrome */
      -ms-transform: skew($Xdeg, $Ydeg); /* IE 9 */
          transform: skew($Xdeg, $Ydeg);
}

@mixin ps-disable-selection() {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

@mixin ps-box-sizing($val) {
  -webkit-box-sizing: $val;
     -moz-box-sizing: $val;
          box-sizing: $val;
}

@mixin ps-transition($val...) {
  -webkit-transition: $val;
     -moz-transition: $val;
          transition: $val;
}

@mixin ps-placeholder($fontSize, $fontColor) {
  &::-webkit-input-placeholder {
    font-size: $fontSize;
    color: $fontColor;
  }

  &:-moz-placeholder { /* Firefox 18- */
    font-size: $fontSize;
    color: $fontColor;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    font-size: $fontSize;
    color: $fontColor;
  }

  &:-ms-input-placeholder {
    font-size: $fontSize;
    color: $fontColor;
  }
}

@mixin ps-transform($duration) {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: $duration;

  -moz-transition-property: -moz-transform;
  -moz-transition-duration: $duration;

  transition-property: transform;
  transition-duration: $duration;
}

@mixin ps-animation($name, $duration, $type, $timing) {
  -webkit-animation: $name $duration $type $timing;
     -moz-animation: $name $duration $type $timing;
          animation: $name $duration $type $timing;
}

//
// Flexbox:
//
@mixin ps-display-flex($val) {
  -webkit-display: $val;
          display: $val;
}

@mixin ps-flex-flow($val) {
  -webkit-flex-flow: $val;
          flex-flow: $val;
}

@mixin ps-flex-basis($val) {
  -webkit-flex-basis: $val;
          flex-basis: $val;
}

@mixin ps-flex-grow($val) {
  -webkit-flex-grow: $val;
          flex-grow: $val;
}

@mixin ps-flex-align-items($val) {
  -webkit-align-items: $val;
          align-items: $val;
}

@mixin ps-flex-justify-content($val) {
  -webkit-justify-content: $val;
          justify-content: $val;
}

@mixin ps-flex($val) {
  -webkit-flex: $val;
          flex: $val;
}

@mixin ps-flex-order($val) {
  -webkit-order: $val;
          order: $val;
}

@mixin ps-flex-direction($val) {
  -webkit-flex-flow: $val;
          flex-direction: $val;
}
