@import "_Global.scss";

// body {
//   padding: 0;
//   margin: 0;
//   background-color: #6b92b9;
//   background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
//   -webkit-animation: snow 20s linear infinite;
//   -moz-animation: snow 20s linear infinite;
//   -ms-animation: snow 20s linear infinite;
//   animation: snow 20s linear infinite;
// }

.animated {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated-logo {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes swing {
  20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
  20% { -webkit-transform: rotate(10deg); }
  40% { -webkit-transform: rotate(-5deg); }
  60% { -webkit-transform: rotate(5deg); }
  80% { -webkit-transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@keyframes swing {
  20% { transform: rotate(10deg); }
  40% { transform: rotate(-5deg); }
  60% { transform: rotate(5deg); }
  80% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@-webkit-keyframes swingzwei {
  20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
  20% { -webkit-transform: rotate(-5deg); }
  40% { -webkit-transform: rotate(5deg); }
  60% { -webkit-transform: rotate(-2deg); }
  80% { -webkit-transform: rotate(2deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@keyframes swingzwei {
  20% { transform: rotate(-5deg); }
  40% { transform: rotate(5deg); }
  60% { transform: rotate(-2deg); }
  80% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}

@-webkit-keyframes swinglogo {
  20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
  20% { -webkit-transform: rotate(-1deg); }
  40% { -webkit-transform: rotate(1deg); }
  60% { -webkit-transform: rotate(-1deg); }
  80% { -webkit-transform: rotate(1deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@keyframes swinglogo {
  20% { transform: rotate(-1deg); }
  40% { transform: rotate(1deg); }
  60% { transform: rotate(-1deg); }
  80% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

.swing2 {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swingzwei;
  animation-name: swingzwei;
}

.swinglogo {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swinglogo;
  animation-name: swinglogo;
}

html, body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

  background: #1e5799; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #1e5799 0%, #2989d8 0%, #00346c 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #1e5799 0%,#2989d8 0%,#00346c 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #1e5799 0%,#2989d8 0%,#00346c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#00346c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.page-header {
  z-index: 200;
  position: fixed;
  top: -75px;
  left: 0;
  width: 100%;
  height: 268px;
  background: url('imgs/header_final2.png') no-repeat 0 0;
}

.page-decoration {
  z-index: 100;
  position: fixed;
  top: 50px;
  // left: 0;
  background: none no-repeat 0 0;

  &.decoration-1 {
    left: 25px;
    width: 87px;
    height: 285px;
    background-image: url('imgs/decor_1.png'); }

  &.decoration-2 {
    left: 10%;
    width: 62px;
    height: 212px;
    background-image: url('imgs/decor_2.png'); }

  &.decoration-3 {
    left: 50%;
    top: 7px;
    margin-left: -48px;
    width: 203px;
    height: 259px;
    background-image: url('imgs/decor_logo.png'); }

  &.decoration-4 {
    left: 83.5%;
    top: 80px;
    width: 59px;
    height: 137px;
    background-image: url('imgs/decor_3.png'); }

  &.decoration-5 {
    right: 25px;
    width: 112px;
    height: 273px;
    background-image: url('imgs/decor_5.png'); }
}

.page-footer {
  z-index: 200;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 218px;
  background: url('imgs/footer_final.png') no-repeat 0 0;

  &.page-footer-fixed {
    position: fixed;

  }
}

.wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  .wrapper-inner {
    min-width: 1250px;
    background-color: #fff;
    @include ps-box-sizing(border-box);
    @include ps-border-radius(3px);
    border: 10px solid white;
    // @include ps-box-shadow(0 0 5px rgba(255, 255, 255, 1));
    @include ps-box-shadow(1px 1px 13px rgba(0, 0, 0, .55));

    background: url('imgs/placeholder.png') no-repeat center;
    background-size: cover;
  }

  .wrapper-camera {
    position: relative;
    float: left;
    width: 800px;
    height: 600px;
    // border: 1px solid red;
    flex-basis: 800px;
    // white-space: wrap;
    // display: flex;
    // position: relative;
    overflow: hidden;

    canvas {
      // @include ps-border-radius(10px);
      overflow: hidden;
    }
  }

  .wrapper-image {
    float: left;
    display: flex;
    // padding: 5px 0;
    flex-basis: 450px;
    // width: 450px;
    max-width: 450px;
    height: 600px;
    overflow: hidden;
    background-color: #fff;

    .image-collection {
      padding-top: 5px;
      overflow: hidden;
    }

    .snapshot {
      margin: 10px;
      max-width: 120px;
      min-width: 120px;
      max-height: 90px;
      min-height: 90px;
      border: 2px solid white;

      @include ps-border-radius(5px);
      @include ps-box-shadow(0 0 5px rgba(0, 0, 0, .5));
    }

  }
}

.timerWrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#timer {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 15px;
  bottom: -14px;
  font-size: 100px;
  text-shadow: 1px 1px 3px #000;
  // @include ps-transform-translate(-50%,-50%);
  // @include

  &.one {
    color: #fff;
  }

  &.two {
    color: #fff;
  }

  &.three {
    color: #fff;
  }
}

#webcam {
  display: none;
  width: 1280px;
  height: 960px;
  overflow: hidden;
  // background: black;
}

.miniscroll-container {
  z-index: 90;
  width: 14px !important;
  pointer-events: all;

  @include ps-box-sizing(border-box);
}

.miniscroll-thumb {
  z-index: 90;
  margin-left: 0;
  background-color: #C4C4C4 !important;

  @include ps-transition(margin-left .25s, width .25s);
  @include ps-border-radius(3px);

  &:hover {
    margin-left: -4px;
    width: 10px !important;
    background-color: #8B8E91 !important;

    @include ps-border-radius(5px);
  }

}

.theImage {
  position: fixed;
  left: 0;
  top: 0;
}


.miniscroll-action-scrolling {
  z-index: 90;

  .miniscroll-thumb {
    z-index: 90;
    margin-left: -4px;
    width: 10px !important;
    background-color: #8B8E91 !important;

    @include ps-border-radius(5px);
  }
}

.miniscroll-tracker {
  z-index: 90;
  background-color: transparent !important;
}

// #shot {
//   position: absolute;
//   top: 50px;
//   left: 100px;
// }

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  50% {
    background-color: #b4cfe0;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
    background-color: #6b92b9;
  }
}


@-moz-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  50% {
    background-color: #b4cfe0;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
    background-color: #6b92b9;
  }
}


@-ms-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  50% {
    background-color: #b4cfe0;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
    background-color: #6b92b9;
  }
}


@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  50% {
    background-color: #b4cfe0;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
    background-color: #6b92b9;
  }
}

.name {
  z-index: 200;
  position: fixed;
  left: 0;
  top: 100px;
  width: 100%;
  font-size: 100px;
  text-align: center;
  text-shadow: 1px 1px 5px #000;
  color: #fff;
}

.images-holder {
  width: 640px;
  height: 480px;

  .galleria-container {
    background-color: white;
    @include ps-box-shadow(1px 1px 2px #000);
  }
}
